.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red; /* เปลี่ยนสีของปุ่มเมื่อเม้าส์ชี้ไปที่นั้น */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .modal-container {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    overflow-x: auto;
    overflow-y: auto;
  }

  .modal-content {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
